<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">

    <% newListItems.forEach(function(loopitem){ %>
      <form action="/delete" method="post">
      <div class="item">
        <!-- gave checkbox a form to post method ,a name to access it in app.js , value to delete from db  -->
        <input type="checkbox" name="checkbox" value="<%=loopitem._id%>" onChange="this.form.submit()">
        <!-- .name to get only name part from db -->
        <p><%= loopitem.name  %></p>
      </div>
    </form>

     <% }); %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list">+</button>
      </form>
  </div>

<%- include("footer") -%>
